html {
    scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
    .nav-links {
        height: 400px !important;
    }
}

.aboutMi {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px 10px;
}
.aboutMi::before {
    content: "";
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 100%;
    background: rgb(50, 50, 50);
    box-shadow: 0px 10px 30px rgb(25, 25, 25, 112);
    z-index: -420;
    animation: backrect 1s ease forwards 2s;
}
@keyframes backrect {
    from {
        width: 0px;
    }
    to {
        width: 100%;
    }
}
.mifoto {
    max-width:90%;
    max-height:90%;
    box-shadow: 0px 10px 30px rgb(25, 25, 25);
    opacity: 0;
    animation: mifotoAnim 1s ease forwards 1s;
}
@keyframes mifotoAnim {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }

}
.amtnp {
    margin-bottom: 0px;
    text-align: left;
}
.amText {
    font-family: "Poppins", sans-serif;
    color: rgb(226, 226, 226);
    font-size: 40px;
    animation-name: tAnim;
    animation-duration: 1s;
}
p {
    font-family: "Poppins", sans-Serif;
    color: White;
    font-weight: 150;
    letter-spacing: 0px;
}
.amp {
    animation-name: pAnim;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    transform: translateX(200px);
    opacity: 0;
    max-width: 610px;
}
.amp p {
    margin-bottom: 7px;
}
#tas {
    animation-timing-function: ease;
}
#pas {
    animation-timing-function: ease;
}
@keyframes tAnim {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes pAnim {
    from {
        opacity: 0;
        transform: translateX(200px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.smeds {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    animation: sma 1s ease forwards 1.75s;
}
.smedb {
    border: 0px solid rgba(30, 30, 30, 0);
    transition: 1.5s ease;
}
.smeds div {
    margin: 20px 20px;
    animation: smeddivsAnim 1.75s ease forwards 1.75s;
}
@keyframes smeddivsAnim {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.smedb:hover {
    transform: rotate(360deg);
    border: 2px solid rgba(30, 30, 30, 0);
}
@keyframes sma {
    from {
        opacity: 0;
        transform: translateY(180px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}


.achSection {
    margin-top: 100vh;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    color: rgb(226, 226, 226);
}
.achievements {
    position: absolute;
    margin: 0;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    background: rgb(35, 35, 35);
    box-shadow: 0px 10px 30px rgb(25, 25, 25, 112);
}
.achievements .mifoto {
    opacity: 1;
    animation: none ;
}
.achtext {
    max-width: 800px;
}
.achtext h1 {
    font-size: 40px;
}
.achtext ul {
    list-style-position: inside;
}
.achtext ul li {
    margin: 10px 0px;
}

@media screen and (max-width: 980px) {
    .aboutMi {
        margin-top: 20px;
        flex-direction: column;
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        height: auto;
    }
    .mifoto {
        max-height: 300px;
    }
    .smeds {
        flex-direction: row;
    }
    .achSection {
        margin-top: 50px;
        margin-bottom: 20px;
        height: auto;
    }
    .achievements {
        flex-direction: column;
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        height: auto;
    }
}
